footer.l-footer(data-aos="fade")
  .l-footer__info-box
    p.u-ff-en.u-text-sm.u-color-gray-mid.u-fw-400 T+886 958-348-388　806高雄市前鎮區瑞祥街2號
    p.u-ff-en.u-text-sm.u-color-gray-mid.u-fw-400 Copyright © 炘銳室內裝修設計 All right reserve.
  .l-footer__icon-box